.main-container {
  margin-left: 220px; /* same as .sidebar width */
  width: calc(100% - 220px); 
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  padding: 0px 16px ;
  overflow-y: auto;
  flex-grow: 1;
  background-color: #f9f9f9; 
}
