.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 220px;
  background-color: #ffffff;
  border-right: 1px solid #e2e2e2;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 200;
}

.sidebar-title {
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 6px;
  border-bottom: 1px solid #e2e2e2;
}

.sidebar-title img {
  height: 50px;
  width: 50px;
}

.sidebar-title p {
  font-size: 12px;
  text-align: left;
  letter-spacing: 8%;
  font-weight: 700;
  color: #808080;
}

.sidebar nav {
  margin-top: 0;
  flex-grow: 1;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: .1rem;
  padding: 15px 16px;
  cursor: pointer;
  transition: background 0.3s;
  color: #333;
}
.sidebar-link div{
  font-size: 14px;
}

.sidebar-icon {
  font-size: 16px;
  transition: color 0.3s;
}

/* Hover effect: change icon + text color */
.sidebar-link:hover .sidebar-icon,
.sidebar-link:hover div {
  color: var(--primary);
}

/* Active link: same color as hover */
.sidebar-link.active .sidebar-icon,
.sidebar-link.active div {
  color: var(--primary);
}

/* Optional background for hover/active */
.sidebar-link:hover,
.sidebar-link.active {
  background-color: #f0f0f0;
  border-left: 3px solid var(--primary);
}


.sidebar-profile {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e2e2e2;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}


.user-name {
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

.view-profile {
  font-size: 12px;
  color: var(--primary);
  cursor: pointer;
}

.view-profile:hover {
  text-decoration: underline;
}


.user-icon {
  font-size: 16px;
}